/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

@font-face {
  font-family: 'Cloister Black';
  font-style: normal;
  font-weight: 400;
  src: local('Cloister Black'), url(CloisterBlack.ttf);
}

.blog-header-logo {
  font-family: 'Cloister Black', "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 3rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  color: #999;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
  font-size: 0.8rem;
}

.blog-footer p {
  margin-bottom: 12px;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}


header .text-muted {
  font-size: 0.85rem;
}

.nav-scroller .text-muted {
  font-size: 0.95rem;
}

.article-with-image {
  height: 200px;
}

.article-with-image h3 {
  font-size: 1.35rem;
  line-height: 1.2;
}

.article {
  height: 155px;
}

.article h3 {
  font-size: 1.1rem;
  line-height: 1.2;
}

.card .text-primary {
  color: darkcyan !important;
  font-size: 0.85rem;
  font-weight: 400;
}

.card .text-primary .middot {
  color: #ccc;
}

.card .text-primary .icon {
  height: 0.8rem;
  margin-bottom: 3px;
}

.card.solved {
  background: repeating-linear-gradient(
    45deg,
    /*#e2f7df,*/
    #e8e8e8,
    #e8e8e8 20px,
    #f8f8f8 20px,
    #f8f8f8 35px
  );
}

.unread-count {
  color: darkcyan;
}


table {
  border-collapse: collapse;
}

th, td {
  border-top: none !important;
  border-left: none !important;
  border-bottom: 3px solid white !important;
  border-right: 2px solid white !important;

  font-size: 0.85rem;
  font-weight: normal;
  text-align: center;
}

thead {
  background-color: white;
}

th {
  background-color: #eee;
  border-bottom: 3px solid white !important;
}

.cat-end {
  border-right: 5px solid white !important;
}

th.category {
  padding: 8px;
}

.task-prices th {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 6px 4px;
  width: 45px;
  text-align: center;
}

.task-prices .icon {
  height: 0.5rem;
  margin-bottom: 2px;
}

.task-prices .stats {
  display: inline-block;
  margin-top: 4px;
  color: #aaa;
  font-size: 0.65rem;
}

.task-prices th:hover {
  text-decoration: underline;
}

.task-prices th:hover .stats {
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:nth-child(odd) {
  background-color: #fcfcfc;
}

td {
  vertical-align: middle !important;
}

td.team {
  line-height: 1.35;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  max-width: 200px;
}

td.team > div {
  overflow-x: hidden;
}

td.team p {
  margin: 0;
}

td .region {
  color: #aaa;
  font-size: 0.75rem;
}

td .elapsed-time {
  color: darkcyan;
  font-size: 0.65rem;
}

td .middot {
  color: #ccc;
}

td.accepted {
  color: darkcyan;
  padding: 4px;
}

td.accepted .time {
  color: #aaa;
  font-size: 0.6rem;
}

tr.my-team {
  background-color: #e0f2e0;
}
