/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

@font-face {
  font-family: 'Cloister Black';
  font-style: normal;
  font-weight: 400;
  src: local('Cloister Black'), url(../fonts/CloisterBlack.ttf);
}

.blog-header-logo {
  font-family: 'Cloister Black', "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 3rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  color: #999;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
  font-size: 0.8rem;
}

.blog-footer p {
  margin-bottom: 12px;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}


header .text-muted {
  font-size: 0.85rem;
}

.nav-scroller .text-muted {
  font-size: 0.95rem;
}

.article-with-image {
  height: 200px;
}

.article-with-image h3 {
  font-size: 1.35rem;
  line-height: 1.2;
}

.article {
  height: 155px;
}

.article h3 {
  font-size: 1.1rem;
  line-height: 1.2;
}

.task-info {
  color: darkcyan !important;
  font-size: 0.85rem;
  font-weight: 400;
}

.task-info .middot {
  color: #ccc;
}

.task-info .price-icon {
  height: 0.8rem;
  margin-bottom: 3px;
}

.task-info .stats-icon {
  height: 0.7rem;
  margin-bottom: 3px;
}

.card.solved {
  background: repeating-linear-gradient(
    45deg,
    /*#e2f7df,*/
    #e8e8e8,
    #e8e8e8 20px,
    #f8f8f8 20px,
    #f8f8f8 35px
  );
}

.unread-count {
  color: darkcyan;
}


table {
  border-collapse: collapse;
}

thead {
  background-color: white;
  border-bottom: 1px solid #ccc !important;
}

th, td {
  border-top: none !important;
  border-bottom: none !important;

  font-size: 0.85rem;
  font-weight: normal;
  text-align: center;
}

.cat-adjacent {
  border-right: none !important;
}

td {
  border-right: 1px solid #eee !important;
}

.cat-end {
  border-right: 1px solid #ddd !important;
}

th {
  background-color: #eee;
}

th.category {
  padding: 8px;
}

.task-prices th {
  cursor: pointer;
  font-size: 0.8rem;
  padding: 6px 4px;
  width: 45px;
  text-align: center;
}

.task-prices .icon {
  height: 0.5rem;
  margin-bottom: 2px;
}

.task-prices .stats {
  display: inline-block;
  margin-top: 4px;
  color: #999;
  font-size: 0.65rem;
}

.task-prices th:hover {
  text-decoration: underline;
}

.task-prices th:hover .stats {
  text-decoration: none;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:nth-child(odd) {
  background-color: #fcfcfc;
}

tr:hover {
  background-color: #f3f3f3 !important;
}

td {
  vertical-align: middle !important;
}

td.team {
  line-height: 1.35;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  max-width: 200px;
}

td.team div {
  white-space: nowrap;
  overflow-x: hidden;
}

td .region {
  color: #aaa;
  font-size: 0.75rem;
}

td .elapsed-time {
  color: darkcyan;
  font-size: 0.65rem;
}

td .middot {
  color: #ccc;
}

td.accepted {
  color: darkcyan;
  padding: 4px;
}

td.accepted .time {
  display: none;
  color: #aaa;
  font-size: 0.6rem;
}

tr:hover td.accepted .time {
  display: block;
}

tr.my-team {
  background-color: #e8fae8;
}

.scoreboard-toggle {
  font-size: 0.85rem;
}

.scoreboard-toggle-row {
  margin-top: -18px;
}

.scoreboard-toggle .custom-control-label::before, .scoreboard-toggle .custom-control-label::after {
  margin-top: -1px;
  height: 0.9rem;
  width: 0.9rem;
}


.article-content {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 0.97rem;
}

@media (min-width: 1200px) {
  .article-content {
    margin-left: 75px;
    margin-right: 100px;
  }
}

.article-content h2 {
  font-size: 1.75rem;
}

.article-content li {
  margin-bottom: 15px;
}


h2 {
  font-size: 1.45rem;
}

.notification-list .card {
  max-width: 600px;
}

.notification.unread {
  box-shadow: 0 .25rem .75rem rgba(255, 184, 51, 0.5);
}

.notification .content {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 0.89rem;
}

.notification .content a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
               sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.84rem;
}

.notification .content p:last-child {
  margin-bottom: 0;
}

.notification h3 {
  font-size: 1.15rem;
  line-height: 1.2;
}


.login-form {
  font-size: 0.9rem;
}

.login-form > .flex-column {
  width: 350px;
}


.modal {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-dialog {
  max-width: 600px !important;
}

.modal-content {
  box-shadow: 0 .25rem 1.5rem rgba(0, 0, 0, 0.5);
}

.task .modal-body {
  max-height: calc(100vh - 50px);
  overflow-y: scroll;
}

.task .modal-task-content {
  margin: 10px;
}

.task h3 {
  font-size: 1.45rem;
  line-height: 1.2;
  margin-bottom: 1.3rem;
}

.task .content {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 0.94rem;
}

.task .content p {
  margin-bottom: 1.3rem;
}

.task .content a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
               sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.89rem;
}

.flag-submit-card .card-body {
  background-color: #fcefdc;
  padding: 15px;
  font-size: 0.85rem;
  line-height: 1.35;
}

.flag-submit-card input {
  width: calc(100% - 150px);
  margin-left: 15px;
}

.flag-submit-card button {
  width: 100px;
  margin: 0 15px;
}

.alert {
  color: black;
  font-size: 0.85rem;
}

.task .alert {
  font-size: 0.8rem;
  padding: 10px;
  line-height: 1.35;
}


footer {
  margin: 0 !important;
  padding: 24px;

  position: absolute;
  bottom: 0;
  left: 84px;
  width: calc(100% - 168px);
  height: 120px;
}

body > .container {
  margin-bottom: 144px;
}

html {
  position: relative;
  min-height: 100%;
}
