{% extends '_qctf_layout.html' %}

{% load bootstrap %}
{% load i18n %}

{% block title %}The QCTF Times - Сброс пароля{% endblock %}

{% block content %}
<main class="d-flex justify-content-center">
    <div class="flex-column">
        <h2 class="text-center mb-4">Сброс пароля</h2>

        <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

        <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
    </div>
</main>
{% endblock %}
