{% load tz %}
{% load timezones %}
{% load i18n %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <h2>Drapo</h2>
            <div class="hline-white"></div>
            <p>
                {% trans 'Drapo is a CTF checksystem' %}
            </p>
            <p>
                {% trans 'Developed and hosted by <a href="http://kaspersky.com">Kaspersky Lab</a>' %}
            </p>
        </div>
        <div class="col-md-4 col-xs-6">
            <h2>{% trans 'Contact us' %}</h2>
            <div class="hline-white"></div>
            {% trans 'Feel free to <a href="mailto:ctf@kasperksy.com">write us</a>' %}
            <br />
        </div>
        <div class="col-md-4">
            <h2>{% trans 'Time' %}</h2>
            <div class="hline-white"></div>
            {% get_current_timezone as TIME_ZONE %}
            {% blocktrans %}Server timezone is {{ TIME_ZONE }} {{ TIME_ZONE|utcoffset }}{% endblocktrans %}<br />
        </div>
    </div>
</div>