<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <h2>Drapo</h2>
            <div class="hline-white"></div>
            <p>
                Drapo is a CTF checksystem
            </p>
            <p>
                Developed and hosted by <a href="http://kaspersky.com">Kaspersky Lab</a>
            </p>
        </div>
        <div class="col-md-4 col-xs-6">
            <h2>Contact us</h2>
            <div class="hline-white"></div>
            Feel free to <a href="mailto:ctf@kasperksy.com">write us</a>
            <br />
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>