<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <h2>Drapo</h2>
            <div class="hline-white"></div>
            <div>
                Drapo is a CTF checksystem
            </div>
            <div>
                Developed by <a href="https://vk.com/andgein">andgein</a> and <a href="http://kaspersky.com">Kaspersky Lab</a>
                Hosted by <a href="http://kaspersky.com">Kaspersky Lab</a>
            </div>
        </div>
        <div class="col-md-4 col-xs-6">
            <h2>Contact us</h2>
            <div class="hline-white"></div>
            Feel free to <a href="mailto:ctf@kasperksy.com">write us</a>
            <br />
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>