{% extends '_layout.html' %}

{% block title %}Teams{% endblock %}

{% block content %}
    <div class="page">
        <h1 class="page__header">Teams</h1>

        {% for team in teams %}
            <div>
                {{ forloop.counter }}.
                <a href="{{ team.get_absolute_url }}"><strong>{{ team.name }}</strong></a>:

                 <span class="glyphicon glyphicon-star text-danger" title="Captain" style="font-size: 10pt"></span>
                 <a href="{% url 'users:profile' team.captain.id %}">{{ team.captain.username }}</a>
                {% for member in team.members.all|slice:':10' %}
                    {% if member != team.captain %}
                        , <a href="{% url 'users:profile' member.id %}">{{ member.username }}</a>
                    {% endif %}
                {% endfor %}
                {% if team.members.count > 10 %}
                    and others
                {% endif %}

            </div>
        {% empty %}
            <div>
                No teams, <a href="{% url 'teams:create' %}">be the first</a>!
            </div>
        {% endfor %}
    </div>
{% endblock %}