html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.navbar .navbar-brand {
    padding-top: 24px;
}

.navbar .divider-vertical {
    height: 70px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid rgba(99, 192, 255, 0.51);
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.footer {
    width: 100%;
    background-color: #454545;
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer div,
.footer h2 {
    color: white;
}

hr {
    border: none;
    color: rgba(159, 159, 159, 0.5);
    background-color: rgba(159, 159, 159, 0.5);
    height: 1px;
}

.hline-white {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
}

.label-sm {
    font-size: 12px;
}

.modal-body {
    padding: 20px 40px;
}

.modal-header {
    outline: 0;
}

.alert {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.label-md {
    font-size: 16px;
}

.label-lg {
    font-size: 20px;
}

.va-middle {
    vertical-align: middle;
}

.va-top {
    vertical-align: top;
}

.mt0 {
    margin-top: 0;
}

.messages {
    position: absolute;
    right: 10px;
    min-width: 400px;
}

.has-error .checkbox-inline,
.has-error .control-label,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
    font-size: inherit;
    font-weight: 700;
}

.page {
    background-color: white;
    padding: 30px;
    border-left: 2px solid #e6e6e6;
}

h1.page__header {
    margin-top: 0;
    margin-bottom: 30px;
}

/* Contests page */
.contests-list__contest {
    background-color: #fefefe;
    border-left: 2px solid #eaeaea;
    padding: 30px;
}

.contest-info__name {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}

/* Contest page */
.contest-page .contest__title {
    margin-top: 0;
}

.contest-page .contest__status {
    vertical-align: middle;
    font-weight: normal;
}

/* Profile page */
.user-page .user-username {
    font-size: 20pt;
}

.user-page .user-name {
    font-size: 13pt;
}

.user-page .user-username .label {
    vertical-align: middle;
    font-size: 10px;
}

/* Tasks page */
.categories-list .category {
    margin: 0 0 30px;
}

.category .category-info {
    background-color: #d9edf7;
}

.category .add-category {
    text-align: center;
    border: 2px dashed #999;
    cursor: pointer;
    padding: 10px 20px 20px;
}

.category .add-category h3 {
    color: #999;
    font-weight: 400;
}

.category .category__task {

}

.category .category__task .task__max_score {
    position: relative;
    top: -5px;
    left: 5px;
}

.category .category__task .category__task__name {
    font-weight: 300;
}

.category .add-task {
    text-align: left;
    cursor: pointer;
    padding: 10px 20px 20px;
}

.category .add-task h3 {
    color: #999;
    font-weight: 400;
    display: inline-block;
    border-bottom: 1px solid #999;
}

/* Task page */
.attempt-form #id_answer {
    width: 300px;
}