.btn-primary {
    background-color: #384F87;
    border-color: #384F87;
}

.btn-primary:hover {
    background-color: #4565AD;
    border-color: #4565AD;
}

.footer,
.navbar,
.navbar-nav > li > .dropdown-menu {
    background-color: #006D5C;
}

.navbar .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: white;
}

.navbar .navbar-nav > li > a:hover,
.dropdown-menu > li > a:hover {
    color: #C8C8C8;
}

.navbar .navbar-brand {
    padding: 0;
}

.navbar .navbar-brand img {
    height: 50px;
    background-color: whitesmoke;
    margin: 10px 0 10px -5px;
    border-radius: 5px;
}

.dropdown-menu > li > a.text-danger,
.navbar-default .navbar-nav .open .dropdown-menu>li>.text-danger,
.navbar .text-danger {
    color: #e87e7e;
}

.btn-success {
    background-color: #006D5C;
    border-color: #006D5C;
}

.btn-success:hover,
.btn-success:active {
    background-color: #014036;
    border-color: #014036;
}

.btn {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
}

.text-danger {
    color: #ff0000;
}