{% extends '_qctf_layout.html' %}

{% load bootstrap %}

{% block title %}The QCTF Times - Вход в систему{% endblock %}

{% block content %}
<main class="login-form d-flex justify-content-center">
    <div class="flex-column">
        <h2 class="text-center mb-4">Вход в систему</h2>

        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}

        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form|bootstrap }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </fieldset>
        </form>
    </div>
</main>
{% endblock %}
