{% extends '_qctf_layout.html' %}

{% load bootstrap %}
{% load i18n %}

{% block title %}The QCTF Times - Вход в систему{% endblock %}

{% block content %}
<main class="login-form d-flex justify-content-center">
    <div class="flex-column">
        <h2 class="text-center mb-4">Вход в систему</h2>

        {% if form.errors %}
        <div class="alert alert-danger">
            Неправильные логин и пароль. Попробуйте ещё раз.
        </div>
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <label for="login">Логин</label>
                    <input type="text" class="form-control" id="login" name="email_or_login" autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Войти</button>
                </div>
            </fieldset>
        </form>
    </div>
</main>
{% endblock %}
