{% load staticfiles %}
{% load markdown_deux_tags %}
{% load dict_filters %}

{% for task_id, stmt in statements.items %}
{% with task=task_by_id|item:task_id %}
<div class="modal task flex-column justify-content-center modal-task"
     data-id="{{ task.id }}" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

                <div class="modal-task-content">
                    <div class="d-inline-block mb-2 text-primary task-info">
                        <span>{{ category_by_task_name|item:task.name }}</span>

                        <span class="middot mx-2">&middot;</span>
                        <span title="Вознаграждение за решение">
                            <img src="{% static 'qctf/img/money-bag.svg' %}" class="price-icon">
                            {{ task.max_score }}
                        </span>

                        <span class="middot mx-2">&middot;</span>
                        <span title="Количество решивших команд">
                            <img src="{% static 'qctf/img/profile.svg' %}" class="stats-icon">
                            {{ task_solved_by|item:task.id|length }}
                        </span>

                        {% if task.id in solved_tasks_ids %}
                            <span class="middot mx-2">&middot;</span>
                            <span>Решено</span>
                        {% endif %}
                    </div>
                    <h3>{{ stmt.title }}</h3>

                    <div class="content">{{ stmt.statement|markdown }}</div>

                    <form method="POST" action="{% url 'qctf_submit_flag' task_id %}">
                        {% csrf_token %}
                        <div class="card flag-submit-card">
                            <div class="card-body">
                                <p class="card-text">
                                    Узнали какую-то информацию об этом событии? Напишите нам и получите вознаграждение.
                                </p>
                                <div class="row">
                                    <input class="form-control form-control-sm" type="text" placeholder="Информация"
                                           name="answer">
                                    <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="alert mt-3 mb-0" style="display: none;"></div>
                    <!--<div class="alert alert-success mt-3 mb-0">-->
                    <!--Спасибо за интересные данные!-->
                    <!--Вознаграждение перечислено на ваш счёт.-->
                    <!--</div>-->

                    <!--<div class="alert alert-danger mt-3 mb-0">-->
                        <!--Эта строка не является правильным ответом на задание.-->
                        <!--Попробуйте найти что&#8209;нибудь ещё. Обратите внимание, что-->
                        <!--правильный ответ начинается с символов <code>QCTF</code>.-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endfor %}
