{% extends '_layout.html' %}

{% load bootstrap %}
{% load i18n %}

{% block title %}Attempts in {{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">
        {% include 'contests/_contest_header.html' with contest=contest %}

        <h1 class="page__header">{% trans 'Attempts' %}</h1>

        <form action="" method="GET" class="form-inline">
            {{ form|bootstrap_inline }}
            <button class="btn btn-success btn-inline ml10">{% trans 'Search' %}</button>
        </form>

        <div class="attempts">
            {% if attempts %}
                <div class="row mb10 mt15">
                    <div class="col-xs-2 pl40"><strong>{% trans 'Participant' %}</strong></div>
                    <div class="col-sm-3 col-xs-4"><strong>{% trans 'Task' %}</strong></div>
                    <div class="col-sm-4 col-xs-5"><strong>{% trans 'Answer' %}</strong></div>
                    <div class="col-sm-3 col-xs-2"><strong>{% trans 'Status' %}</strong></div>
                </div>
            {% else %}
                <div class="mt15">
                    {% if pattern %}
                        {% trans 'No attempts found by this pattern.' %} <a href="{% url 'contests:attempts' contest.id %}">{% trans 'Clear filter?' %}</a>
                    {% else %}
                        {% trans 'No attempts a while... Wait for answers by participants' %}
                    {% endif %}
                </div>
            {% endif %}
            {% for attempt in attempts %}
                <div class="attempt row">
                    <div class="col-xs-2">
                        <span title="{% trans 'Attempt id' %}: {{ attempt.id }}">{{ forloop.revcounter }}</span>.

                        <a href="{{ attempt.participant.get_absolute_url }}">{{ attempt.participant.name }}</a>
                        {% if contest.is_team %}
                            <div class="text-xs-small text-muted ">
                                {{ attempt.author.get_full_name }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-3 col-xs-4">
                        <div class="label label-info">{{ attempt.task.max_score }}</div>
                        <a href="{% url 'contests:task' contest.id attempt.task_id %}"> {{ attempt.task.name }}</a>
                    </div>
                    <div class="col-sm-4 col-xs-5" title="{{ attempt.created_at }}">
                        {{ attempt.answer|truncatechars:100 }}
                    </div>
                    <div class="col-sm-3 col-xs-2 text-small  attempt-status">
                        <a href="{% url 'contests:attempt' contest.id attempt.id %}" title="See details and edit">
                            {% if attempt.is_checked %}
                                {% if attempt.is_correct %}
                                    <div class="text-success">
                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                        <span class="attempt-status__text">
                                            {% trans 'Correct' %}
                                            ({{ attempt.score }}/{{ attempt.task.max_score }})
                                        </span>
                                    </div>
                                {% else %}
                                    <div class="text-danger">
                                        <span class="glyphicon glyphicon-minus-sign"></span>
                                        <span class="attempt-status__text">
                                            {% trans 'Wrong' %}
                                            ({{ attempt.score }}/{{ attempt.task.max_score }})
                                        </span>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="text-muted">
                                    <span class="attempt-status__text">{% trans 'Not checked' %}</span>
                                </div>
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}