{% extends '_layout.html' %}

{% block title %}Attempts in {{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">
        {% include 'contests/_contest_header.html' with contest=contest %}

        <div class="attempts">
            {% if attempts %}
                <div class="row mb10 mt15">
                    <div class="col-xs-2 pl40"><strong>Participant</strong></div>
                    <div class="col-sm-2 col-xs-4"><strong>Task</strong></div>
                    <div class="col-sm-2 col-xs-5"><strong>Answer</strong></div>
                    <div class="col-xs-2"><strong>Status</strong></div>
                </div>
            {% else %}
                <hr />
                <div>
                    No attempts a while... Wait for answers by participants
                </div>
            {% endif %}
            {% for attempt in attempts %}
                <div class="attempt row">
                    <div class="col-xs-2">
                        {{ forloop.revcounter }}.

                        <a href="{{ attempt.participant.get_absolute_url }}">{{ attempt.participant.name }}</a>
                        {% if is_team_contest %}
                            <div class="text-xs-small text-muted ">
                                {{ attempt.author.get_full_name }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <div class="label label-info">{{ attempt.task.max_score }}</div>
                        <a href="{% url 'contests:task' contest.id attempt.task_id %}"> {{ attempt.task.name }}</a>
                    </div>
                    <div class="col-sm-2 col-xs-5">
                        {{ attempt.answer|truncatechars:100 }}
                    </div>
                    <div class="col-xs-2 text-small">
                        {% if attempt.is_checked %}
                            {% if attempt.is_correct %}
                                <div class="text-success">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                    Correct
                                    ({{ attempt.score }}/{{ attempt.task.max_score }})
                                </div>
                            {% else %}
                                <div class="text-danger">
                                    <span class="glyphicon glyphicon-minus-sign"></span>
                                    Wrong
                                    ({{ attempt.score }}/{{ attempt.task.max_score }})
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="text-muted">Not checked</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}