{% extends '_layout.html' %}

{% load markdown_deux_tags %}
{% load humanize %}
{% load i18n %}
{% load urlize_html %}

{% block title %}{{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">
        {% include 'contests/_contest_header.html' with contest=contest %}

        <div class="row">
            <div class="col-sm-6">
                {{ contest.description|markdown|urlize_html }}

                <div class="contest__news-list">
                    {% for one_news in news %}
                        <div class="contest__news">
                            <h2 class="fw300">
                                <a href="{% url 'contests:news' contest.id one_news.id %}">{{ one_news.title }}</a>
                                <div class="text-xs-small fw300" title="{{ one_news.publish_time }}">
                                    {{ one_news.publish_time|naturaltime }}
                                    by
                                    <a href="{% url 'users:profile' one_news.author_id %}">{{ one_news.author.username }}</a>
                                    {% if not one_news.is_published %}
                                        (not published)
                                    {% endif %}
                                </div>
                            </h2>

                            <div class="contest__news__text ellipsis" style="max-height: 150px">
                                {{ one_news.text|markdown|urlize_html|truncatechars_html:1000 }}
                            </div>
                        </div>
                    {% endfor %}

                    {% if user.is_staff %}
                        <a href="{% url 'contests:add_news' contest.id %}" class="contest__add-news">
                            {% trans '+ Add news' %}
                        </a>
                    {% endif %}
                </div>

            </div>

            <div class="col-sm-6">
                <div>
                    {% if contest.is_team %}
                        <h3>{% trans 'Registered teams' %}</h3>
                        {% for participant in participants %}
                            <div>
                                {{ forloop.counter }}. <a href="{{ participant.team.get_absolute_url }}">{{ participant.team.name }}</a>
                            </div>
                        {% empty %}
                            <div class="text-muted">
                                {% trans 'No teams' %}
                                {% if contest.can_register_now %}
                                    {% url 'contests:join' contest.id as join_url %}
                                    {% blocktrans %}a while, <a href="{{ join_url }}">be the first</a>!{% endblocktrans %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3>{% trans 'Participants' %}</h3>
                        {% for participant in participants %}
                            <div>
                                {{ forloop.counter }}. <a href="{{ participant.user.get_absolute_url }}">{{ participant.user.get_full_name }}</a>
                                aka <strong>{{ participant.user.username }}</strong>
                            </div>
                        {% empty %}
                            <div class="text-muted">
                                {% trans 'No participants' %}
                                {% if contest.can_register_now %}
                                    {% url 'contests:join' contest.id as join_url %}
                                    {% blocktrans %}a while, <a href="{{ join_url }}">be the first</a>!{% endblocktrans %}
                                {% endif %}
                                </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}