{% extends '_layout.html' %}

{% load bootstrap %}

{% block content %}
    <div class="contest-page">
        {% include 'contests/_contest_header.html' with contest=contest %}

        {% if user_teams %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success btn-lg">Join</button>
            </form>
        {% else %}
            <p class="lead text-success">
                This contest is team-based. <br />
                For registration you can create <a href="{% url 'teams:create' %}?next={{ request.path }}">your own team</a> or join other team if you have invite hash:
            </p>
            <form method="POST" action="" class="form form-horizontal">
                {% csrf_token %}
                {{ invite_hash_form|bootstrap_horizontal }}
                <button class="btn btn-success btn-lg">Join</button>
            </form>
        {% endif %}
    </div>

{% endblock %}