{% extends '_qctf_layout.html' %}

{% load staticfiles %}
{% load dict_filters %}

{% block title %}The QCTF Times - Главная{% endblock %}

{% block content %}
{% if tasks_visible %}
    {% for row in layout %}
    <div class="row">
        {% for task_name, img_src in row %}
        {% with task=task_by_name|item:task_name %}
        {% if task.id in statements and task.id in opened_tasks_ids %}
        <div class="{% if img_src %}col-md-6{% else %}col-lg-4{% endif %}">
            <div class="card flex-md-row mb-4
                        {% if img_src %}article-with-image box-shadow{% else %}article{% endif %}
                        {% if task.id in solved_tasks_ids %}solved{% endif %}"
                 data-id="{{ task.id }}">
                <div class="card-body d-flex flex-column align-items-start">
                    {% with stmt=statements|item:task.id %}
                    <div class="d-inline-block mb-2 text-primary task-info">
                        <span>{{ category_by_task_name|item:task.name }}</span>

                        <span class="middot mx-2">&middot;</span>
                        <span title="Вознаграждение за решение">
                            <img src="{% static 'qctf/img/money-bag.svg' %}" class="price-icon">
                            {{ task.max_score }}
                        </span>

                        <span class="middot mx-2">&middot;</span>
                        <span title="Количество решивших команд">
                            <img src="{% static 'qctf/img/profile.svg' %}" class="stats-icon">
                            {{ task_solved_by|item:task.id|length }}
                        </span>

                        {% if task.id in solved_tasks_ids %}
                            <span class="middot mx-2">&middot;</span>
                            <span>Решено</span>
                        {% endif %}
                    </div>
                    <h3 class="mb-0">
                        <a class="text-dark" href="#">{{ stmt.title }}</a>
                    </h3>
                    {% endwith %}
                </div>
                {% if img_src %}
                <img class="card-img-right flex-auto d-none d-md-block" src="{{ img_src }}">
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endfor %}

    {% include 'contests/_qctf_task_popups.html' %}
{% else %}
    <h2 class="text-center mb-4">Соревнование ещё не началось</h2>
    <p class="text-center">Дождитесь начала и обновите страницу</p>
{% endif %}
{% endblock %}
