{% extends '_layout.html' %}

{% load dict_filters %}

{% block title %}Scoreboard &bull; {{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">
        <h1 class="page__header">Scoreboard</h1>

        <table class="table table-stripped table-responsive">
            <thead>
                <tr>
                    <td><strong>Participant</strong></td>
                    {% if with_categories %}
                        {% for category in categories %}
                            <td>{{ category.name }}</td>
                            {% for task in category.tasks.all %}
                                <td>{{ task.max_score }}</td>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                    {% endif %}
                    <td><strong>Score</strong></td>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ forloop.counter }}. <a href="{{ participant.get_absolute_url }}">{{ participant.name }}</a></td>

                        {% if with_categories %}
                            {% for category in categories %}
                                <td></td>
                                {% for task in category.tasks.all %}
                                    <td>
                                        {% if max_scored_attempt_by_participant_and_task|has_item:participant.id and max_scored_attempt_by_participant_and_task|item:participant.id|has_item:task.id %}
                                            {{ max_scored_attempt_by_participant_and_task|item:participant.id|item:task.id|attr:'score' }}
                                            <div class="text-xs-small">
                                                {{ max_scored_attempt_by_participant_and_task|item:participant.id|item:task.id|attr:'created_at' }}
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                        {% endif %}

                        <td>{{ scores_by_participant|item:participant.id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}