{% extends '_layout.html' %}

{% load bootstrap %}
{% load dict_filters %}

{% block title %}Scoreboard &bull; {{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">
        {% include 'contests/_contest_header.html' with contest=contest %}

        <h1 class="page__header">Scoreboard</h1>

        <form action="" method="GET" class="form-inline">
            {{ form|bootstrap_inline }}
            <button class="btn btn-success btn-inline ml10">Search</button>
        </form>

        <table class="table table-stripped table-responsive">
            <thead>
                {% if with_categories %}
                    <tr>
                        <td></td>
                        <td></td>
                        {% for category in categories %}
                            {% if category.tasks.count > 0 %}
                                <td colspan="{{ category.tasks.count }}" class="ellipsis" title="{{ category.name }}"><strong>{{ category.name }}</strong></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}

                <tr>
                    <td><strong>Participant</strong></td>
                    <td><strong>Score</strong></td>
                    {% for category in categories %}
                        {% for task in category.tasks.all %}
                            <td>
                                <a href="{% url 'contests:task' contest.id task.id %}">
                                    <small title="{{ category.name }} {{ task.max_score }}: {{ task.name }}">
                                        <strong>{{ task.max_score }}</strong>
                                    </small>
                                </a>
                            </td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                {% with scores=scores_by_task|item:participant.id plagiarized=plagiarized_tasks|get:participant.id %}
                    <tr>
                        <td>
                            {{ forloop.counter }}. <a href="{{ participant.get_absolute_url }}">{{ participant.name }}</a>
                            {% if participant.is_disqualified %}
                                <div class="mt0">
                                    <small class="text-danger">Disqualified</small>
                                </div>
                            {% endif %}
                            {% if user.is_staff and participant.id in plagiarized_from %}
                                <div class="mt0">
                                    <small class="text-danger">Давал списывать</small>
                                </div>
                            {% endif %}
                            {% if user.is_staff and plagiarized %}
                                <div class="mt0">
                                    <small class="text-danger">Списывал</small>
                                </div>
                            {% endif %}
                        </td>
                        <td>{{ participant_score|get:participant.id|default:0 }}</td>

                        {% for category in categories %}
                            {% for task in category.tasks.all %}
                                <td>
                                    <small {% if user.is_staff and task.id in plagiarized %} style="background-color: red" {% endif %}>
                                        {{ scores|get:task.id|default:0 }}
                                    </small>
                                </td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}