{% extends '_layout.html' %}

{% block title %}{{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">
        {% include 'contests/_contest_header.html' with contest=contest %}

        <h1 class="page__header">Tasks</h1>

        {% for task in tasks %}
            <div class="task {% if task.id in solved_tasks_ids %}solved{% endif %}">
                {% include 'contests/_task_list__task.html' %}
            </div>
        {% endfor %}

        {% if user.is_staff %}
            <a href="{% url 'contests:add_task' contest.id %}" class="add-task">
                + Add task
            </a>
        {% endif %}

    </div>
{% endblock %}