{% extends '_layout.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">

        {% include 'contests/_contest_header.html' with contest=contest %}

        <h1 class="page__header">Tasks</h1>

        <div class="categories-list">
            {% for category in categories %}
                <div class="category row">
                    <div class="category-info col-xs-6 col-md-3">
                        <h3><strong>{{ category.name }}</strong>
                        {% if user.is_staff %}
                            <a href="{% url 'contests:edit_category' contest.id category.id %}" title="Edit category"><span class="glyphicon glyphicon-edit small"></span></a>
                        {% endif %}</h3>
                        {{ category.description|markdown }}
                    </div>
                    <div class="col-xs-6 col-md-9">
                        {% for task in category.tasks.all %}
                            <div class="category__task {% if task.id in solved_tasks_ids %}solved{% endif %}">
                                {% include 'contests/_task_list__task.html' %}
                            </div>
                        {% empty %}
                            {% if not user.is_staff %}
                                <div class="text-muted">
                                    No tasks in this category
                                </div>
                            {% endif %}
                        {% endfor %}

                        {% if user.is_staff %}
                            <a href="{% url 'contests:add_task_to_category' contest.id category.id %}" class="add-task">
                                + Add task
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if user.is_staff %}
                <div class="category row">
                    <a href="{% url 'contests:add_category' contest.id %}">
                        <div class="add-category col-xs-6 col-md-3">
                            <h3>+ Add category</h3>

                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}