{% extends '_layout.html' %}

{% load markdown_deux_tags %}

{% block title %}{{ contest.name }}{% endblock %}

{% block content %}
    <div class="page contest-page">

        <h1 class="page__header">Tasks</h1>

        {% if contest.is_finished %}
            <div class="alert alert-info">Contest is finished</div>
        {% endif %}

        <div class="categories-list">
            {% for category in categories %}
                <div class="category row">
                    <div class="category-info col-xs-6 col-md-3">
                        <h3><strong>{{ category.name }}</strong></h3>
                        {{ category.description|markdown }}
                    </div>
                    <div class="col-xs-6 col-md-9">
                        <div class="row">
                            {% for task in category.tasks.all %}
                                <div class="category__task {% if task.id in solved_tasks_ids %}solved{% endif %} col-xs-12 col-md-4">
                                    {% if task.id in solved_tasks_ids %}
                                        <h3>
                                            <a href="{% url 'contests:task' contest.id task.id %}" class="text-success category__task__name">{{ task.name }}</a>
                                            <span class="task__max_score label label-sm label-success" title="Score">{{ task.max_score }}</span>
                                        </h3>
                                        <a href="{% url 'contests:task' contest.id task.id %}" class="btn btn-success">View</a>
                                    {% else %}
                                        <h3>
                                            <a href="{% url 'contests:task' contest.id task.id %}" class="category__task__name">{{ task.name }}</a>
                                            <span class="task__max_score label label-sm label-primary" title="Score">{{ task.max_score }}</span>
                                        </h3>
                                        <a href="{% url 'contests:task' contest.id task.id %}" class="btn btn-primary">Open</a>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            {% if user.is_staff %}
                                <a href="{% url 'contests:add_task_to_category' contest.id category.id %}">
                                    <div class="add-task col-xs-12 col-md-4">
                                        <h3>+ Add task</h3>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if user.is_staff %}
                <div class="category row">
                    <a href="{% url 'contests:add_category' contest.id %}">
                        <div class="add-category col-xs-6 col-md-3">
                            <h3>+ Add category</h3>

                        </div>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}