{% load staticfiles %}
{% load i18n %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-sm" href="{% url 'home' %}">
                <img src="{% static 'images/kaspersky.png' %}">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'contests:list' %}">{% trans 'Contests' %}</a></li>
                <li><a href="{% url 'teams:list' %}">{% trans 'Teams' %}</a></li>
                {% if current_contest %}
                    {% if current_contest.show_menu_on_top or user.is_staff %}
                        <li class="divider-vertical"></li>
                        <li class="nav-divider"></li>
                        <li class="active"><a href="{% url 'contests:contest' current_contest.id %}">{{ current_contest.name|truncatechars:30 }}<span class="hidden-sm hidden-md hidden-lg">:</span></a></li>
                        <li><a href="{% url 'contests:tasks' current_contest.id %}">{% trans 'Tasks' %}</a></li>
                        <li><a href="{% url 'contests:scoreboard' current_contest.id %}">{% trans 'Scoreboard' %}</a></li>
                        {% if user.is_staff and current_contest.is_started %}
                            <li><a href="{% url 'contests:attempts' current_contest.id %}"><span class="text-danger">{% trans 'Attempts' %}</span></a></li>
                        {% endif %}
                        {% if user.is_staff %}
                            <li><a href="{% url 'contests:participants' current_contest.id %}"><span class="text-danger">{% trans 'Participants' %}</span></a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-divider"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'users:profile' user.id %}">{% trans 'Profile' %}</a></li>
                            <li><a href="{% url 'users:edit' %}">{% trans 'Edit settings' %}</a></li>
                            <li><a href="{% url 'teams:create' %}">{% trans 'Create team' %}</a></li>
                            {% if user.is_staff %}
                                <li><a href="{% url 'contests:create' %}" class="text-danger">{% trans 'Create contest' %}</a></li>
                            {% endif %}
                            <li role="separator" class="divider"></li>
                            <li><a href="#" onclick="$('#logout-form').submit(); return false">{%  trans 'Logout' %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'users:login' %}?next={{ request.path }}">{% trans 'Login' %}</a></li>
                    <li><a href="{% url 'users:register' %}">{% trans 'Register' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<form id="logout-form" method="POST" action="{% url 'users:logout' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
</form>